* text=auto !eol
/NBbuildConfig.py -text
/NBcheckResult.py -text
/NBemail.py -text
/NBlogMessages.py -text
/NBosCommand.py -text
/NBprojectConfig.py -text
/NBsvnCommand.py -text
/NBuserConfig.py -text
/newNightlyBuild.py -text
/nightlyBuildMod.py -text
/userParametersEmpty.py -text
